.content {
  width: calc(85% - 4em);
  margin-right: auto;
  margin-left: auto;
  padding: 2em;
  border-radius: 20px;
}

@media all and (orientation: portrait) {
  .content {
    width: calc(100% - 2em);
    margin-right: 0;
    margin-left: 0;
    padding: 1em;
    border-radius: 10px;
  }
}


body {
  background-color: #D6D7CA;
  font-family: 'Muli', sans-serif;

  font-size: 12pt;
  font-weight: 300;
}

.header {
  text-align: center;
  font-size: 16pt;
  font-weight: 400;
}


.content {
  position: relative;
  background-color: #F4F4F4;

  color: #6B6B6B;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.content>div {
  padding-bottom: 1em;
  text-indent: 2em;
}

.content>.videos {
  display: inline-block;
  text-align: center;
  text-indent: 0;
}

.social {
  width: 100%;
  text-align: center;
}


a {
  color: #5B577E;
  background-color: #D6D7CA;
  border-radius: 3px;
  text-decoration: none;
}

a:hover {
  color: #000000;
  background-color: #ECEDEF;
}

a>img {
  vertical-align: top;
}