
body {
  background-color: #D6D7CA;
}

.header {
  text-align: center;
}

.content {
  position: relative;
  width: 550px;
  padding: 2em;
  border-radius: 20px;

  margin-right: auto;
  margin-left: auto;
  background-color: #ECEDEF;

  color: #734E4E;
}

.content > div {
  padding-bottom: 1em;
}

.footer {
  position: relative;
  width: 550px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
}

a {
  color: #5B577E;
  background-color: #D6D7CA;
  border-radius: 3px;
  text-decoration: none;
}

a:hover {
  color: #000000;
  background-color: #ECEDEF;
}

a > img {
  vertical-align:top;
}
